<ion-view view-title="设备维修">
    <ion-content style="overflow-y:hidden">
            <a class="button button-block button-positive" href="#/tab/addEqRepair">新增</a>
            <ion-list can-swipe="true">
                <ion-item ng-repeat="item in Data.EqRepair"
                          item="item"
                          href="#/tab/eqRepairDetail/{{item.Id}}" class="item-remove-animate" on-hold="showActionSheet({{ item.Id }})">
                    <div class="item item-divider">
                        <i class="ion-ios-clock">
                        </i>{{ item.Date }}
                    </div>
                    <div class="item">
                        <i class="ion-ios-flag">
                        </i>
                        {{ item.Status}}<!--颜色-->
                    </div>
                    <div class="item">
                        <i class="ion-man">
                        </i>{{ item.Inspector }}
                    </div>
                </ion-item>
            </ion-list>
</ion-content>
</ion-view>

