<ion-view view-title="新增报告单">
    <ion-header-bar>
        提交报告单
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider">
            巡查结果
        </div>
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="巡查结果"></textarea>
            </label>
            <label class="item item-input">
                <textarea placeholder="备注"></textarea>
            </label>
        </div>

        <div class="item item-divider">
            设备状态
        </div>
        <div class="list">

        </div>
        <div class="padding">
            <button class="button button-block button-positive">Submit</button>
        </div>
    </ion-content>
</ion-view>

