<ion-view view-title="报告单">
    <ion-content style="overflow-y:hidden">
        <a class="button button-block button-positive" href="#/tab/addCheckRpt">新增</a>
        <ion-list can-swipe="true">
            <ion-item ng-repeat="rpt in Data.rpts"
                      item="item"
                      href="#/tab/checkRptDetail/{{rpt.JobId}}" class="item-remove-animate"  on-hold="showActionSheet({{ rpt.JobId }})">
                <div >
                    <div class="item item-divider" >
                        <i class="ion-ios-clock">
                        </i>{{ rpt.InspectDate }}
                    </div>
                    <div class="item item-text-wrap">
                        <i class="ion-ios-flag">
                        </i>
                        {{ rpt.JobStatus}}<!--颜色-->
                    </div>
                    <div class="item item-text-wrap">
                        <i class="ion-man">
                        </i>{{ rpt.Inspector }}
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

