<ion-view ng-controller="FarmerInfoCtrl" view-title="基本信息">
    <ion-content class="padding" style="overflow-y:hidden">
        <div class="list card">

            <div  class="item item-icon-left">
                <i class="icon ion-home"></i>
                {{Data.FarmerInfo.addr}}
            </div>

            <div  class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                {{Data.FarmerInfo.tel}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{Data.FarmerInfo.name}}
            </div>

            <div  class="item item-icon-left">
                <i class="icon ion-card"></i>
                {{Data.FarmerInfo.farmerNo}}
            </div>

        </div>
    </ion-content>
</ion-view>

